/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }

.container{
    position: relative;
}

/* Button Effect */

.button_about {
  margin-top:40px;
  margin-left: 40px;
  z-index: 1;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_about:after {
  content: "";
  background-color: teal;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button_about:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button_about {
    padding: 13px 50px 13px;
  }
}
.child1{
    position: absolute;
}
.child2{
    z-index: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-height: 70vh;
    margin-top: 70px;
    position: absolute;
}
.about-amorse, .about-desc{
    color: #fff;
}
.about-desc{
    margin-left: 40px;
}

/* Explore */

.container-explore{
    border: 4px solid rgb(82, 79, 79);
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
}

/* Search Bar */
.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
.container-button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

